body{
    background-color: #F4F4F4;
}

#box-1{
    background-color: #E6F7FE;
    width: 80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 15px;
    box-shadow: 0px 10px 10px #D5D8D9;

}

#box-2{
    background-color: #fff;
    width: 18%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;

    text-align: center;
    border-radius: 12px;
}

#box-2 img{
    margin: 10px;
    margin-bottom: 0px;
    border-radius: 12px;
}

#box-2 h4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 0px;
}

#box-2 p{
    font-size: 13px;
    color: rgb(175, 167, 167);
    padding-bottom: 5px;
}